<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320368504585-f0pbr3rsho9b1kceu1dgtpn35jps4h4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320368504585-f0pbr3rsho9b1kceu1dgtpn35jps4h4t</string>
	<key>API_KEY</key>
	<string>AIzaSyAhzCEWngd8sH9x4wQGqYdfDkmcgJoQqrw</string>
	<key>GCM_SENDER_ID</key>
	<string>320368504585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odinvikar.odinvikar</string>
	<key>PROJECT_ID</key>
	<string>odinvikar</string>
	<key>STORAGE_BUCKET</key>
	<string>odinvikar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320368504585:ios:12ad565a09de50097aedd8</string>
	<key>DATABASE_URL</key>
	<string>https://odinvikar-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>